@charset  ;

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script:wght@400;500;600;700&family=Mandali&display=swap');

/*
    font-family: 'Carter One', cursive; 
    font-family: 'Dancing Script', cursive;
    font-family: 'Mandali', sans-serif;
*/
:root{
    --fonte1:'Carter One', cursive;
    --fonte2:'Dancing Script', cursive;
    --fonte3:'Mandali', sans-serif;
}
@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
 }
html{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: 1em;
}
.padrao{
    display: inline-flex;
    width: 100%;
    height: 300px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
     justify-content: center;
}
.conteudo {
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    margin: 5% 0% 5% 0%;  
}
.padraoConteudo{
    display: inline-flex;
    width: 90%;
    height: max-content;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
}

.padrao a {
    width: max-content;
    height: max-content;
    position: absolute;
}
#capa{
    width: 95%;
    height: 300px; 
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.479) ;
}
#capaslogan{
    position: absolute;
    width: 80%;
    height: 100px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    animation: fadein 4s linear;
}
#capaslogan span{
    font-family: var(--fonte1);
    font-size: xx-large;
    background-image: linear-gradient( 45deg,  rgba(13, 133, 13, 0.911) 10%, rgba(4, 189, 4, 0.911)30% ,rgba(176, 255, 31, 0.911) );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: lighter;
}
#icohome{
    width: 30px;
    height: 30px;
    display: flex;
    left: 3%;
    position: absolute;
    cursor: pointer;
}
.menu div a {
    text-decoration: none; 

}
.padrao a:hover {
    background-color: rgba(155, 155, 155, 0);
    border-radius: 20px 20px;
    padding: 3px;
    width: 60px;
    height: 60px; 
    transition: 0.4s;
}
.padrao a {
    display: flex;
    width: 50px;
    height: 50px;
    
}

#icolampada{
    display: flex;
    width: 100%;
    height: 100%;
}
nav{
    width: 98%;
    overflow: hidden;
    position: fixed;
    top: 0.5%;
    background-image: linear-gradient( 45deg,  rgba(13, 133, 13, 0.911) 10%, rgba(4, 189, 4, 0.911)30% ,rgba(176, 255, 31, 0.911) );
    box-shadow: 1px 1px 1px 1px rgba(6, 207, 6, 0.815);
    border-radius: 3px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    height: 30px;
    
   
}
.menu  a {
    font-size: medium;
    font-family: var(--fonte2);
    text-shadow: 0 px -1px 5px rgb(3, 36, 3);
    font-weight: bold;
    
    
}
.menu div  {
    right: 3%;
    width: max-content;
    height: max-content;
    position: absolute;
    
}
.padraoConteudo img {
    width: 250px;
    height: 250px;
    margin: 3% 5% 3% 5% ;
    padding: 10px;
}
.padraoConteudo img:hover{
    border-radius: 10px;
    box-shadow: 5px 2px 5px 2px rgba(128, 128, 128, 0.582);
    transition: 1s;
    
}
.padraoConteudo span{
    width: 400px;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    animation: fadein 2s linear;
    margin: 3% 5% 3% 5% ;
    overflow-y: auto;
    padding: 10px;
}
::-webkit-scrollbar{
    background-image: linear-gradient( 45deg,  rgba(13, 133, 13, 0.911) 10%, rgba(4, 189, 4, 0.911)30% ,rgba(176, 255, 31, 0.911) );
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(1, 82, 1, 0.822);
}
.conteudo h1{
    font-family: var(--fonte3);
    color: yellowgreen;
    font-size: x-large;
    animation: fadein 2s linear;
}
.topico{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (min-width: 800px) {
    .padraoConteudo img {
        width: 350px;
        height: 350px;
       
    }
}
@media screen and (max-width: 600px){
    .padraoConteudo {
        flex-direction: column;
        

    }   
} 
@media screen and (max-width: 600px){
    .padraoConteudo span{
        width: 250px;
        
        
    }   
} 

@media screen and (max-width: 500px) {
    #capaslogan span {
        justify-content: space-around;
        font-size: medium;
        width: max-content;
        height: 40px;
    }
}
@media screen and (max-width: 500px) {
    .padrao a {
        
        width: 40px;
        height: 40px;
    }
}
.imgParalax {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 300px;
    background-image: url(imagens/paineis-solares-e-usina-eolica-fora.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    margin: 5%;
    border-radius: 2px;
}
footer{
    display: flex;
    width: 98%;
    height: max-content;
    background-image: linear-gradient( 45deg,  rgba(13, 133, 13, 0.911) 10%, rgba(4, 189, 4, 0.911)30% ,rgba(176, 255, 31, 0.911) );
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 2px;
}
address{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;  
}
address h1{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Mandali', sans-serif;
    margin: 0px;
}   
address span{
    font-size: medium;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 5px rgba(5, 85, 2, 0.829);
    font-weight: normal;
}
address #citacao{
    font-family: 'Mandali', sans-serif;
}
.botao h1  {
    width: max-content;
    height: max-content;
    padding: 2px 10px 2px 10px ;
    border-radius: 20px 20px;
    background-image: linear-gradient( 45deg,  rgba(13, 133, 13, 0.911) 10%, rgba(4, 189, 4, 0.911)30% ,rgba(176, 255, 31, 0.911) );
    font-size: medium;
    border: 1px;
}
.botao a{
    text-decoration: none;
    color: white;
    
}
.auxbotao{
    display: inline-flex;
    height: max-content;
    width: 100%;
    justify-content: center;
    margin: 3% 0px 3% 0px
}

.botao h1:hover {
    box-shadow: 2px 2px 2px 2px rgba(2, 133, 41, 0.582);
    transition: 1s;
}
.botao a:hover {
    font-size: large;
    transition: 1s;
}


/* Carrocel */